<div class="contents row">


<artical class="kiji">
<h2>
 <%= @ninja.text %>
</h2>
  <p><img src="<%= @ninja.image%>" width="600" height="300"></p>
  <p><%= @ninja.content %></p></artical>
    
  </div>