<div class="contents row">
<%= form_tag("/ninjas/#{@ninja.id}",method: :patch) do %>

<artical class="kiji">
<h2>
 <%= @ninja.text %>
</h2>
  <p><img src="<%= @ninja.image%>" width="600" height="300"></p>
  <p><%= @ninja.content %></p></artical>
    <% end %>
  </div>