 <div class="contents row">
 <div class="container">
    <%= form_tag('/ninjas', method: :post) do %>
      <h3>
        投稿する
      </h3>
      <select name="pref_name">
<option value="" selected>Prefecture
<option value="北海道">Hokkaido
<option value="青森県">Aomori
<option value="岩手県">Iwate
<option value="宮城県">Miyagi
<option value="秋田県">Akita
<option value="山形県">Yamagata
<option value="福島県">Fukushima
<option value="茨城県">Ibaragi
<option value="栃木県">Tochigi
<option value="群馬県">Gunma
<option value="埼玉県">Saitama
<option value="千葉県">Chiba
<option value="東京都">Tokyo
<option value="神奈川県">Kanagawa
<option value="新潟県">Nigata
<option value="富山県">Toyama
<option value="石川県">Ishikawa
<option value="福井県">Fukui
<option value="山梨県">Yamanashi
<option value="長野県">Nagano
<option value="岐阜県">Gifu
<option value="静岡県">Shizuoka
<option value="愛知県">Aichi
<option value="三重県">Mie
<option value="滋賀県">Shiga
<option value="京都府">Kyoto
<option value="大阪府">Osaka
<option value="兵庫県">Hyogo
<option value="奈良県">Nara
<option value="和歌山県">Wakayama
<option value="鳥取県">Tottori
<option value="島根県">Shimane
<option value="岡山県">Okayama
<option value="広島県">Hiroshima
<option value="山口県">Yamaguchi
<option value="徳島県">Tokushima
<option value="香川県">Kagawa
<option value="愛媛県">Ehime
<option value="高知県">Kochi
<option value="福岡県">Fukuoka
<option value="佐賀県">Saga
<option value="長崎県">Nagasaki
<option value="熊本県">Kumamoto
<option value="大分県">Oita
<option value="宮崎県">Miyazaki
<option value="鹿児島県">Kagoshima
<option value="沖縄県">Okinawa
</select>

<select name="pref_name">
<option value="" selected>Genre
<option value="restaurant">Restaurant
<option value="Touristspot">Spot
<option value="Souvenir">Souvenir
<option value="museum">Museum
<option value="rural area">Rural area

</select>

      <input placeholder="Title" type="text" name="text">
      <input placeholder="Image Url" type="text" name="image">
      <textarea cols="30" name="content" placeholder="Content" rows="10"></textarea>
      <input placeholder="Image Url2" type="text" name="image2">
      <textarea cols="30" name="content2" placeholder="Content2" rows="10"></textarea>
      <input placeholder="Image Url3" type="text" name="image3">
      <textarea cols="30" name="content3" placeholder="Content3" rows="10"></textarea>
      
      <input type="submit" value="SENT">
    <% end %>
  </div>
  </div>