 <div class="contents row">
 <div class="container">
    <%= form_tag('/ninjas', method: :post) do %>
      <h3>
        投稿する
      </h3>
     

      <input placeholder="Title" type="text" name="text">
       <select name="prefecture">
<option value="" selected>Prefecture
<option value="Hokkaido">Hokkaido
<option value="Aomori">Aomori
<option value="Iwate">Iwate
<option value="Miyagi">Miyagi
<option value="Akita">Akita
<option value="Yamagata">Yamagata
<option value="Fukushima">Fukushima
<option value="Ibaragi">Ibaragi
<option value="Tochigi">Tochigi
<option value="Gunma">Gunma
<option value="Saitama">Saitama
<option value="Chiba">Chiba
<option value="Tokyo">Tokyo
<option value="Kanagawa">Kanagawa
<option value="Nigata">Nigata
<option value="Toyama">Toyama
<option value="Ishikawa">Ishikawa
<option value="Fukui">Fukui
<option value="Yamanashi">Yamanashi
<option value="Nagano">Nagano
<option value="Gifu">Gifu
<option value="Shizuoka">Shizuoka
<option value="Aichi">Aichi
<option value="Mie">Mie
<option value="Shiga">Shiga
<option value="Kyoto">Kyoto
<option value="Osaka">Osaka
<option value="Hyogo">Hyogo
<option value="Nara">Nara
<option value="Wakayama">Wakayama
<option value="Tottori">Tottori
<option value="Shimane">Shimane
<option value="Okayama">Okayama
<option value="Hiroshima">Hiroshima
<option value="Yamaguchi">Yamaguchi
<option value="Tokushima">Tokushima
<option value="Kagawa">Kagawa
<option value="Ehime">Ehime
<option value="Kochi">Kochi
<option value="Fukuoka">Fukuoka
<option value="Saga">Saga
<option value="Nagasaki">Nagasaki
<option value="Kumamoto">Kumamoto
<option value="Oita">Oita
<option value="Miyazaki">Miyazaki
<option value="Kagoshima">Kagoshima
<option value="Okinawa">Okinawa
</select>

<select name="genre">
<option value="" selected>Genre
<option value="Spot">Spot
<option value="Food">Food
<option value="Shop">Shop
<option value="Stay">Stay
<option value="Culture">Culture
<option value="Souvenir">Souvenir
<option value="Museum">Museum
<option value="RuralArea">Rural area

</select>
      <input placeholder="Image Url" type="text" name="image">
      <textarea cols="30" name="content" placeholder="Content" rows="10"></textarea>
      <input placeholder="Image Url2" type="text" name="image2">
      <textarea cols="30" name="content2" placeholder="Content2" rows="10"></textarea>
      <input placeholder="Image Url3" type="text" name="image3">
      <textarea cols="30" name="content3" placeholder="Content3" rows="10"></textarea>
      <textarea cols="20" name="quotation" placeholder="Quotation" rows="10"></textarea>
      
      <input type="submit" value="SENT">
    <% end %>
  </div>
  </div>