<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @kakuremis.each do |ninja| %>
    <%= render partial: "ninja/ninja", locals: { ninja: ninja } %>
  
   
  <% end %>

  <%= paginate(@kakuremis) %>
  </div>
