<div class="contents row">
<div class="ally">
<div class="lefty">

  <p class="genretitle">Kagoshimaの投稿一覧</p>

  <% @search.each do |ninja| %>
    <%= render partial: "ninja/ninja", locals: { ninja: ninja } %>
  
   
  <% end %>
  
  </div>
  </div>
  <div class="righty">
  
  </div>
